.banner {
  background-image: url(https://res.cloudinary.com/cyee3012/image/upload/v1616682802/banner_wwxx7l.jpg);
  width: 100%;
  opacity: 0.5;
  height: 400px;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
