// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "logo";
@import "short-bio";
@import "social-icons";
@import "projects";
@import "modal";
@import "open-projects";

body {
  background-color: white;
}
