.logo {
  background-image: url(https://res.cloudinary.com/cyee3012/image/upload/v1616686526/cyee3012_logo_qahwth.svg);
 width: 300px;
 text-align: center;
 height: 300px;
 margin: auto;
 background-size: cover;
}
