.modal {
  display: none;
  position: fixed;
  padding-top: 50px;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

.model-content {
  margin: auto;
  display: block;
  height: 100%;
  max-height: 400px;
}

.close {
  position: absolute;
  top: 15px;
  right: 25px;
  color: white;
  transition: 0.3s;
  text-shadow: none;
  opacity: 0.8;
}

.close:hover {
  color: #8B8BAE;
  opacity: 0.5;
}
