.projects {

  h2 {
    font-size: 50px;
    font-family: 'Lexend', sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px #FF8585;
    margin-top: -15px;
  }

  h3 {
    font-size: 18px;
    font-family: 'Lexend', sans-serif;
    font-weight: bold;
    padding-top: 10px;

    a, a:visited {
      font-size: 10px;
      color: #8B8BAE;
      font-weight: lighter;
    }

    a:hover {
      font-size: 10px;
      color: #8B8BAE;
      font-weight: lighter;
      opacity: 0.5;
    }

  }

  p {
    font-size: 12px;
    font-family: 'Lexend', sans-serif;
    text-align: left;
    color: #8a0000;
    opacity: 0.8;

  }

  .images {
    display: flex;
    img {
      flex-grow: 1;
      width: 1px;
      margin: 5px;
      box-shadow: 3px 3px 0px #FF8585;
      border-style: solid;
      border-width: 0.5px;
      transition: 0.3s;
    }

    img:hover {
      opacity: 0.6;
    }
  }

}
