.projects {

  h2 {
    font-size: 50px;
    font-family: 'Lexend', sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px #FFD6D6;
  }

  h3 {
    font-size: 18px;
    font-family: 'Lexend', sans-serif;
    font-weight: bold;

    a, a:visited {
      font-size: 10px;
      color: #B80000;
      font-weight: lighter;
    }

    a:hover {
      font-size: 10px;
      color: #B80000;
      font-weight: lighter;
      opacity: 0.5;
    }

  }

  p {
    font-size: 12px;
    font-family: 'Lexend', sans-serif;
  }

  .images {
    display: flex;
    img {
      flex-grow: 1;
      width: 1px;
      margin: 5px;
      box-shadow: 3px 3px 0px #FFD6D6;
      border-style: solid;
      border-width: 0.5px;
    }
  }

}
