.short-bio {
  bottom: 10px;

   h1 {
    text-align: left;
    font-size: 60px;
    font-family: 'Lexend', sans-serif;
    font-weight: bold;
    margin-top: 50px;
    text-shadow: 2px 2px #FF8585;
  }

  h2 {
    text-align: left;
    font-size: 20px;
    font-family: 'Lexend', sans-serif;
    color: #8a0000;
    padding-left: 60px;
    padding-top: 15px;
  }

  h4 {
    text-align: left;
    font-size: 18px;
    font-family: 'Lexend', sans-serif;
    padding-left: 60px;
    opacity: 0.7;
  }

  p {
    text-align: left;
    font-size: 16px;
    font-family: 'Lexend', sans-serif;
    opacity: 0.8;
    color: #FF8585;
    padding-left: 60px;
    margin-top: -5px;

    a, a:visited {
      font-size: 10px;
      color: #FF8585;
      font-weight: lighter;
      opacity: 0.7;
    }

    a:hover {
      font-size: 10px;
      color: #FF8585;
      font-weight: lighter;
      opacity: 0.5;
    }
  }
}
