.short-bio {
  bottom: 10px;

   h1 {
    text-align: center;
    font-size: 20px;
    font-family: 'Lexend', sans-serif;
    font-weight: bold;
  }

  h2 {
    text-align: center;
    font-size: 16px;
    font-family: 'Lexend', sans-serif;
    opacity: 0.8;
    color: #8a0000;
  }
}
