.social-icons {
 text-align: center;
 letter-spacing: 5px;

  a, a:visited {
   text-align: center;
   letter-spacing: 5px;
   color: black;
  }

  i:hover {
   text-align: center;
   letter-spacing: 5px;
   opacity: 0.5;
  }
}

