.social-icons {
 text-align: center;
 letter-spacing: 5px;
 margin-top: -5px;

  a, i, a:visited {
   text-align: center;
   letter-spacing: 5px;
   color: #8B8BAE;
  }

  i:hover {
   text-align: center;
   letter-spacing: 5px;
   opacity: 0.7;
  }
}

