.social-icons {
 // letter-spacing: 5px;
 padding: 10px 10px 0px 10px;
 bottom: 0;
 height: 50px;
 padding-left: 25px;
 font-family: 'Lexend', sans-serif;
 font-size: 12px;

  h4 {
    font-family: 'Lexend', sans-serif;
    letter-spacing: 0px;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
  }

 .icon-row {
   padding-left: 30px;
   padding-bottom: 20px;
    a, i, a:visited {
     text-align: center;
     letter-spacing: 5px;
     color: #8a0000;
    }

    i:hover {
     text-align: center;
     letter-spacing: 5px;
     opacity: 0.7;
    }
 }

}

