<div class="banner">
  <div class="logo justify-content-center image-fluid">
  </div>
  <div class="short-bio col">
    <h1>CHING-YEE LAW</h1>
    <h2>FRONTEND DEVELOPER | ALSO KNOWN AS <strong>CHII</strong></h2>
    <div class="social-icons">
      <a href="https://www.linkedin.com/in/cyee3012/"><i class="fab fa-linkedin"></i></a>
      <a href="https://github.com/cyee3012/"><i class="fab fa-github-alt"></i></a>
      <i class="fa fa-envelope"></i>
    </div>
  </div>
</div>

<div class="container">
  <div class="justify-content-center">

    <div class="col">
      <% data.products.each_with_index do | product, index|  %>
       <!--  <li class="nav-item" role="Projects">
          <%= product.name %> <%= product.description %>
        </li> -->
      <% end %>

    </div>
  </div>
</div>
