<div class="banner img-fluid">
  <img src="https://res.cloudinary.com/cyee3012/image/upload/v1616682802/banner_wwxx7l.jpg" alt="">
</div>
<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col">
<!--       <h1>Chii Law</h1>
 -->    </div>

    <div class="col">
      <% data.products.each_with_index do | product, index|  %>
       <!--  <li class="nav-item" role="Projects">
          <%= product.name %> <%= product.description %>
        </li> -->
      <% end %>

    </div>
  </div>
</div>
